 
.App {
  
}
.main-container{
  max-width: 1460px;
	margin: auto;
	/* padding-left: 15px;
	padding-right: 15px; */
}

html {
  font-size: 14px;
  box-sizing: border-box;
  color: #fff;
  overflow-x: hidden;
  letter-spacing: .5px;
  background-color: #0b0c0e;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
img{
  background-color: #fff;
}

body,h1,h2,h3,h4,h5,h6{
  font-family: Yantramanav,Helvetica,Arial,sans-serif;
}
a{
  text-decoration: none;
  color: unset;
}
.bold{
  font-weight: bold !important;
}
.pointer{
  cursor: pointer;
}







.back{
  padding: 8rem 0 3rem 3rem; 
  align-self: flex-start;
  z-index: 2;

}
.btn{
  padding-left: 22px;
  transition: padding-left .3s ease;
  
}
.back-button{
  background: none;
  color: #FFF;
  border: none;
  position: relative;
  padding: 0 2.2rem;
}
.btn:hover{
  padding-left: 15px;
}
.back-button::before{
  content: "";
  bottom: 7px;
  right: 71px;
  width: 40px;
  height: 1px;
  position: absolute;
  background: #FFF;
}
.back-button::after{
  
  content: "";
  bottom: 11px;
  width: 12px;
  right: 101px;
  height: 1px;
  position: absolute;
  background: #FFF;
  transform: rotate(-45deg);
}
@media screen and (max-width: 480px) {
  .back-button{
      padding: 0;
  }
  .back-button::before{
    right: 42px ;
  }
  .back-button::after{
    right: 72px ;
  }
}